@page
@model MyPortfolio.Pages.GitHubUserModel

<h2>GitHub User Details</h2>
<div>
    <img src="@Model.GitHubUser.AvatarUrl" alt="Avatar" width="100" />
    <p><strong>Login:</strong> @Model.GitHubUser.Login</p>
    <p><strong>Name:</strong> @Model.GitHubUser.Name</p>
    <p><strong>Company:</strong> @Model.GitHubUser.Location</p>
    <p><strong>Netlify:</strong> <a href="@Model.GitHubUser.Blog">@Model.GitHubUser.Blog</a></p>
    <p><strong>Followers:</strong> @Model.GitHubUser.Followers</p>
    <p><strong>Following:</strong> @Model.GitHubUser.Following</p>
</div>